.git/**
.tmp-tests/**
.vscode/**
docs/**
src/**
test/**
node_modules/**
webview-ui/node_modules/**
webview-ui/src/**
webview-ui/public/**
webview-ui/.vite/**
webview-ui/index.html
webview-ui/package-lock.json
webview-ui/package.json
webview-ui/vite.config.js
esbuild.mjs
tsconfig.json
.gitignore
*.vsix
*.log
coverage/**
**/*.map
media/logo.png
